<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="4.9.4" targetFramework="net472" />
  <package id="Autofac.Extras.AttributeMetadata" version="4.1.0" targetFramework="net48" />
  <package id="Autofac.Extras.DynamicProxy" version="4.5.0" targetFramework="net472" />
  <package id="Autofac.Mef" version="4.1.0" targetFramework="net48" />
  <package id="Castle.Core" version="4.4.0" targetFramework="net472" />
  <package id="Common.Logging" version="3.4.1" targetFramework="net48" />
  <package id="Common.Logging.Core" version="3.4.1" targetFramework="net48" />
  <package id="DynamicData" version="6.14.3" targetFramework="net472" />
  <package id="DynamicLanguageRuntime" version="1.2.2" targetFramework="net472" />
  <package id="Extended.Wpf.Toolkit" version="3.7.0" targetFramework="net472" />
  <package id="IPNetwork2" version="2.1.2" targetFramework="net48" />
  <package id="Makaretu.Dns" version="2.0.1" targetFramework="net48" />
  <package id="Makaretu.Dns.Multicast" version="0.27.0" targetFramework="net48" />
  <package id="Microsoft.CodeAnalysis.BannedApiAnalyzers" version="2.9.8" targetFramework="net472" developmentDependency="true" />
  <package id="Microsoft.CSharp" version="4.0.1" targetFramework="net48" />
  <package id="MSBuild.Extension.Pack" version="1.9.1" targetFramework="net48" />
  <package id="MSBuildTasks" version="1.5.0.235" targetFramework="net48" developmentDependency="true" />
  <package id="Saxon-HE" version="9.9.1.6" targetFramework="net48" />
  <package id="ServiceLocation" version="1.3.1" targetFramework="net472" />
  <package id="SimpleBase" version="1.3.1" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.0" targetFramework="net472" />
  <package id="System.Collections" version="4.0.11" targetFramework="net48" />
  <package id="System.Collections.Immutable" version="1.7.0" targetFramework="net472" />
  <package id="System.ComponentModel.Annotations" version="4.7.0" targetFramework="net48" />
  <package id="System.ComponentModel.Composition" version="4.7.0" targetFramework="net472" />
  <package id="System.Diagnostics.Debug" version="4.3.0" targetFramework="net48" />
  <package id="System.Diagnostics.Tools" version="4.3.0" targetFramework="net48" />
  <package id="System.Dynamic.Runtime" version="4.3.0" targetFramework="net472" />
  <package id="System.IO" version="4.3.0" targetFramework="net472" />
  <package id="System.IO.Pipelines" version="4.7.0" targetFramework="net472" />
  <package id="System.Linq.Dynamic" version="1.0.7" targetFramework="net472" />
  <package id="System.Memory" version="4.5.3" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Reactive.Windows.Threading" version="4.3.2" targetFramework="net472" />
  <package id="System.Reflection.Emit" version="4.7.0" targetFramework="net472" />
  <package id="System.Runtime" version="4.3.1" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.0" targetFramework="net472" />
  <package id="System.Runtime.InteropServices" version="4.1.0" targetFramework="net48" />
  <package id="System.Threading.Tasks.Dataflow" version="4.11.0" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.3" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
  <package id="System.Windows.Interactivity.WPF" version="2.0.20525" targetFramework="net472" />
  <package id="Vanara.Core" version="3.1.9" targetFramework="net48" />
  <package id="Vanara.PInvoke.AclUI" version="3.1.9" targetFramework="net48" />
  <package id="Vanara.PInvoke.ComCtl32" version="3.1.9" targetFramework="net48" />
  <package id="Vanara.PInvoke.CredUI" version="3.1.9" targetFramework="net48" />
  <package id="Vanara.PInvoke.Cryptography" version="3.1.9" targetFramework="net48" />
  <package id="Vanara.PInvoke.DwmApi" version="3.1.9" targetFramework="net48" />
  <package id="Vanara.PInvoke.Gdi32" version="3.1.9" targetFramework="net48" />
  <package id="Vanara.PInvoke.Kernel32" version="3.1.9" targetFramework="net48" />
  <package id="Vanara.PInvoke.Mpr" version="3.1.9" targetFramework="net48" />
  <package id="Vanara.PInvoke.NTDSApi" version="3.1.9" targetFramework="net48" />
  <package id="Vanara.PInvoke.Ole" version="3.1.9" targetFramework="net48" />
  <package id="Vanara.PInvoke.SearchApi" version="3.1.9" targetFramework="net48" />
  <package id="Vanara.PInvoke.Security" version="3.1.9" targetFramework="net48" />
  <package id="Vanara.PInvoke.Shared" version="3.1.9" targetFramework="net48" />
  <package id="Vanara.PInvoke.Shell32" version="3.1.9" targetFramework="net48" />
  <package id="Vanara.PInvoke.ShlwApi" version="3.1.9" targetFramework="net48" />
  <package id="Vanara.PInvoke.User32" version="3.1.9" targetFramework="net48" />
  <package id="Vanara.PInvoke.UxTheme" version="3.1.9" targetFramework="net48" />
  <package id="Vanara.Security" version="3.1.9" targetFramework="net48" />
  <package id="Vanara.Windows.Forms" version="3.1.9" targetFramework="net48" />
  <package id="Vanara.Windows.Shell" version="3.1.9" targetFramework="net48" />
  <package id="WpfAnalyzers" version="2.4.4" targetFramework="net472" developmentDependency="true" />
  <package id="Xceed.Products.Wpf.Toolkit.AvalonDock" version="3.8.19076.18510" targetFramework="net472" />
  <package id="Xceed.Wpf.AvalonDock" version="3.8.19076.18510" targetFramework="net472" />
  <package id="Xceed.Wpf.Toolkit" version="3.8.19076.18510" targetFramework="net472" />
</packages>