<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dapplo.Windows.Common" version="0.11.14" targetFramework="net472" />
  <package id="Dapplo.Windows.Shell32" version="0.11.14" targetFramework="net472" />
  <package id="Microsoft.CodeAnalysis.BannedApiAnalyzers" version="2.9.4" targetFramework="net472" developmentDependency="true" />
  <package id="Microsoft.VisualStudio.OLE.Interop" version="7.10.6071" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Shell.Interop" version="7.10.6072" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.TextManager.Interop" version="7.10.6071" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Threading.Analyzers" version="16.3.52" targetFramework="net472" />
  <package id="Microsoft.Win32.Primitives" version="4.3.0" targetFramework="net472" />
  <package id="NLog" version="4.6.8" targetFramework="net472" />
  <package id="PInvoke.Kernel32" version="0.6.6" targetFramework="net472" />
  <package id="PInvoke.Shell32" version="0.6.6" targetFramework="net472" />
  <package id="PInvoke.Windows.Core" version="0.6.6" targetFramework="net472" />
  <package id="System.Reactive" version="4.3.2" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.3" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
  <package id="Vanara.Core" version="3.1.9" targetFramework="net472" />
  <package id="Vanara.PInvoke.ComCtl32" version="3.1.9" targetFramework="net472" />
  <package id="Vanara.PInvoke.Cryptography" version="3.1.9" targetFramework="net472" />
  <package id="Vanara.PInvoke.Gdi32" version="3.1.9" targetFramework="net472" />
  <package id="Vanara.PInvoke.Kernel32" version="3.1.9" targetFramework="net472" />
  <package id="Vanara.PInvoke.Ole" version="3.1.9" targetFramework="net472" />
  <package id="Vanara.PInvoke.Security" version="3.1.9" targetFramework="net472" />
  <package id="Vanara.PInvoke.Shared" version="3.1.9" targetFramework="net472" />
  <package id="Vanara.PInvoke.Shell32" version="3.1.9" targetFramework="net472" />
  <package id="Vanara.PInvoke.ShlwApi" version="3.1.9" targetFramework="net472" />
  <package id="Vanara.PInvoke.User32" version="3.1.9" targetFramework="net472" />
</packages>